body {
  padding: 0px;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.navBar {
  background-color: rgb(204, 230, 255);
  padding: 10px;
}

.navBar h1 {
  font-size: 2.1em;
}

.navBar h2 {
  text-align: center;
  text-decoration: underline;
}

.mainContainer {
  border: 10px solid rgb(0, 44, 131);
}

.newItems {
  background-color: rgb(204, 230, 255);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.newToDoForm {
  justify-self: end;
}

.newToDoForm,
.newListDiv > button,
.listToDo button,
.completedList div button {
  width: 30%;
  background-color: rgb(0, 79, 153);
  border-radius: 10px;
  border: 1px solid;
  color: aliceblue;
  font-size: 1em;
  padding: 5px;
}

.newListDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 41vw;
}

.newToDo {
  display: grid;
  width: 50%;
  padding: 10px;
  align-items: center;
  justify-self: center;
  gap: 10px;
  grid-area: 2 / 1 / 2 / 3;
}

.newToDo label {
  font-weight: bold;
}

#priority {
  justify-self: flex-start;
}

.showCompleted {
  margin-top: 20px;
  background-color: rgb(57, 0, 230);
  border-radius: 10px;
  padding: 10px;
  color: aliceblue;
  font-size: 1em;
}

.navLists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navLists button {
  background-color: rgb(0, 77, 102);
  color: aliceblue;
  padding: 3px;
  border-radius: 20px;
  border: 3px solid black;
}

.navLists div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.navListButton {
  font-size: 2em;
  flex: 1 1 100%;
}

.deleteList,
.showCompleted {
  width: 75px;
  font-size: 0.5em;
  margin: 0;
}

.listToDo div,
.completeList div {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
